page-invite {
    .toolbar {
        position:absolute;
    }

    .toolbar .toolbar-background {
        background : initial !important;
        border: none !important;
    }

    #gMap {
        min-height: 400px;
        height:40%;
    }

    .hr-title {
        position: relative;
        z-index: 1;
        overflow: hidden;
        text-align: center;
    }
    .hr-title:before, .hr-title:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 50%;
        height: 1px;
        content: '\a0';
        background-color: #cecece;
    }
    .hr-title:before {
        margin-left: -40%;
        text-align: right;
    }

    .entries-list ion-item {
        background-color: #333;
        margin: 1em 0;
        border-radius: 5px;
    }
}
