<ion-menu [swipeEnabled]="false" [content]="content">
    <ion-header>
      <ion-navbar>
        <ion-title text-center>Menu</ion-title>
      </ion-navbar>
    </ion-header>
      <ion-content>    
          <ion-list>
            <button ion-item class=“item-borderless” icon-start *ngFor="let item of menuItem" (click)="exec(item.label)">
                <ion-icon name="{{ item.icon }}" item-start></ion-icon>
                {{ item.label }}
            </button>
          </ion-list>
      </ion-content>
  </ion-menu>
