card-maps {

    width: 400px;

    .overlay {
        position:absolute;
        padding: 0.5em;
        border: 1px solid red;
    }

    .overlay ion-item {
        background-color: rgba(0,0,0,0.5);
        border-radius: 2px;
    }

}
